.form-control {
	width: 90%;
}

.login-btn {
	float: right;
	margin-right: 20px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

#sub-header {
	background-image: url("../img/sub-header-background-img.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
    margin-top: -20px;
    height: 200px;
}

#sub-header-title {
	margin-top: 70px;
	color: white;
	width: 400px;
}

#header-logo-img {
	margin-left: 150px;
    margin-top: 20px;
}

@media screen and (max-width: 992px) {
	#sub-header-title {
	    margin-top: -80px;
    	margin-left: 350px;
	}
}

@media screen and (max-width: 850px) {
	#header-logo-img {
		margin-left: 100px;
	}
	
	#sub-header-title {
    	margin-left: 300px;
	}
	   
}

@media screen and (max-width: 800px) {
	#header-logo-img {
		margin-left: 50px;
	}
	
	#sub-header-title {
    	margin-left: 250px;
	}
	   
}

@media (min-width: 768px) {
	.navbar {
   		border-radius: 0;
	}
}