<div class="container tqb-container">
	<div class="row">
		<div class="col-sm-8 col-md-10">
			<h2>Gallery</h2>
		</div>
		<div class="col-sm-4 col-md-2">
			<button type="button" class="btn btn-success">New Gallery</button>
		</div>
	</div>
	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="img/person.png" alt="Person Picture">
	      <div class="caption">
	        <h3>Who I Am</h3>
	        <p>Hello, my name is Haotian Qu, you can call me Tommy. I'm a programmer in the computer science industry. </p>
	      </div>
	    </div>
	  </div>
	</div>
</div>