<div class="container tqb-container">
	<div class="row">
		<div class="col-sm-8 col-md-10">
			<h2>Gallery</h2>
		</div>
		<div class="col-sm-4 col-md-2">
			<button type="button" class="btn btn-success" ng-show="userCookie.id == '57e2c7abadd8589d0a068c89'" ui-sref="app.newGallery">New Gallery</button>
		</div>
	</div>
	<div class="row">
	  <div class="col-sm-6 col-md-4" ng-repeat="gallery in galleries">
	    <div class="thumbnail">
	      <img src="img/person.png" alt="Gallery Picture">
	      <div class="caption">
	        <h3>{{gallery.title}}</h3>
	        <p>{{gallery.description}}</p>
	      </div>
	    </div>
	  </div>
	</div>
</div>