<div class="container tqb-container">
	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="img/person.png" alt="Person Picture">
	      <div class="caption">
	        <h3>Who I Am</h3>
	        <p>Haotian Qu (Tommy). A passionate software engineer.</p>
	      </div>
	    </div>
	  </div>
	  	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="img/business.png" alt="Business Picture">
	      <div class="caption">
	        <h3>What I Do</h3>
	        <p>I'm proficient in web and mobile development. Java and Android
					are my strongest areas.</p>
	      </div>
	    </div>
	  </div>
	  	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="img/hobby.png" alt="Hobby Picture">
	      <div class="caption">
	        <h3>What I Like</h3>
	        <p>Singing, playing computer games, playing basketball and table tennis, 
					cooking delicious food.</p>
	      </div>
	    </div>
	  </div>
	</div>
</div>