<div class="container tqb-container">
		<h2>New Gallery:</h2>
		<form name="newGalleryForm" ng-submit="newGallery(newGalleryForm)">
			<div class="form-group">
			    <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Title" ng-model="gallery.title" required>
			</div>
			<div class="form-group">
			    <label for="description">Description</label>
                <input type="text" class="form-control" id="description" placeholder="Description" ng-model="gallery.description" required>
			</div>
			<div class="form-group btn btn-success fileupload-btn-div">
				<!-- <p class="bold-p">Select images:</p> -->
				<label class="control-label">Select images</label>
				<input type="file" class="file-input" nv-file-select="" uploader="uploader" multiple />
			</div>
			<a href id="upload_widget_opener">Upload multiple images</a>
			<div class="panel panel-default">
		      <div class="panel-heading">Attached Files</div>
		      <div class="panel-body">
				<div class="row border-bottom-row">
					<div class="col-md-6">
						<p><b>Name</b></p>
					</div>
					<div class="col-md-3">
						<p><b>Size</b></p>
					</div>
					<div class="col-md-3">
						<p><b>Actions</b></p>
					</div>
				</div>
				<div class="row" ng-repeat="item in uploader.queue">
					<div class="col-md-6">
						<p>{{ item.file.name }}</p>
					</div>
					<div class="col-md-3">
						<p>{{ item.file.size/1024/1024|number:3 }} MB</p>
					</div>
					<div class="col-md-3">
						<p><button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
							<span class="glyphicon glyphicon-trash"></span> Remove
			                </button>
			            </p>
					</div>
				</div>
		      </div>
		    </div>
			<div class="form-group">
				<div class="col-md-6">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
