<div class="container tqb-container">
		<label for="email">Email address</label>
    	<p id="email">{{userCookie.email}}</p>
    	<br>
		<div class="row">
			<div class="col-md-6">
				<label for="first-name">First Name</label>
	    		<p id="first-name">{{userCookie.firstName}}</p>
			</div>
			<div class="col-md-6">
				<label for="last-name">Last Name</label>
	    		<p id="last-name">{{userCookie.lastName}}</p>
			</div>
		</div>
		<br>
		<label for="email">Biography</label>
    	<p id="email">{{userCookie.bio}}</p>
	<br>
	<div class="row">
		<div class="col-md-6"><button type="submit" class="btn btn-lg btn-primary">Submit</button></div>
		<div class="col-md-6"><button type="button" class="btn btn-lg btn-default" data-dismiss="modal" aria-label="Close">Cancel</button></div>
	</div>
</div>