.intro-text-div {
    height: 220px;
    background-color: white;
    margin-top: 80px;
    border: 2px solid #dbdbdb;
    border-radius: 10px;
    text-align: center;
}

.intro-text-h3 {
	padding-top: 20px;
	font-family: "Pacifico", cursive;
}

.intro-icon-div {
    margin-top: 30px;
    margin-bottom: -110px;
    text-align: center;
}

.intro-text-p {
	margin-left: 30px;
    margin-right: 30px;
}

.intro-div-1 {
	/* background-image: url("../img/paper-1.png"); */
}