.tqb-nav {
	margin-bottom: 0px;
	border-radius: 0px;
}

.tqb-container {
	margin-top: 30px;	
}

.tqb-footer {
	background-color: #f9f9f9;	
  position: relative;
  margin-top: 100px;
  clear:both;
  padding-top:20px;
}

.sub-header {
	background-image: url("../img/sub-header-background-img.jpg");
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    margin-left: 0px;
    margin-right: 0px;
}

#sub-header-img-div {
	margin-top: 40px;
}

#sub-header-text-div {
	color: white;
	margin-top: 80px;
	margin-left: -100px;
}

.nav-link-btn {
	padding-top: 15px;
	padding-bottom: 15px;	
}

.bold-p {
	font-weight: 700;	
}

.loading-progress-bar-div {
	height: 40px;
}

.loading-p {
	margin-top: 10px;
}

/*Blog list style*/
.blog-list-updated-time {
	color: #9E9E9E;
}

/*One blog style*/
.edit-icon-i {
	padding-right: 20px;
    margin-left: -30px;
    cursor: pointer;
}

.edit-icon-i:hover, .delete-icon-i:hover {
	cursor: pointer;
}

.one-blog-category-p {
	color: #9E9E9E;
	margin-bottom: -10px;
}

/*New gallery style*/
#trigger-upload {
    color: white;
    background-color: #00ABC7;
    font-size: 14px;
    padding: 7px 20px;
    background-image: none;
}

#fine-uploader-manual-trigger .qq-upload-button {
    margin-right: 15px;
}

#fine-uploader-manual-trigger .buttons {
    width: 36%;
}

#fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
    width: 60%;
}