.page-div {
	text-align: center;
}

.list-group {
	margin-top: 20px;
}

h2 {
	font-family: 'FranklinGothic', Helvetica, sans-serif;
	margin-left: 3px;
}

#category-h2 {
	font-size: 24px;
	font-family: "Pacifico", cursive;
}

.footer {
	margin-top: 20px;
}